// Colors
$primary-color: #3498db;
$secondary-color: #2c3e50;
$text-color: #333;
$text-color-white: #FFF;
$bg-color: #EEEFE0;
$bg-color-variant-1: #D1D8BE;
$bg-color-variant-2: #A7C1A8;
$bg-color-variant-3: #819A91;
$bg-color-darky:#2a2a2a;


// Typography
$font-family: 'Arial', sans-serif;
$font-size-base: 16px;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;

// Spacing
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;

// Breakpoints
$mobile: 768px;
$tablet: 1024px;
$desktop: 1200px;